<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start - AI YOGA</title>
    <link rel="website icon" type="png" href="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/62a549aede.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main">
    <!-- Start Title-->
    <div class="text-center mx-auto mt-2">
        <div class="text-center my-2 mt-4" style="font-family: 'Prompt', sans-serif; display: inline-flex; align-items: center;" >
            <img src="static/6.png" alt="logo" style=" height:4rem; width:4rem; border-radius: 50%; object-fit: cover; margin-bottom: 1.5rem; margin-right: 10px;">
            <img src="static/7.png" alt="logo" style=" height:4rem; width:4rem; border-radius: 50%; object-fit: cover; margin-bottom: 1.5rem; margin-right: 20px;">
            <h2>AI Powered Yoga Instructor Program</h2> 
        </div>
    </div>       
    <!-- End Title -->

    <!-- Start Countdown -->
    <div class="container mx-auto mb-3">
        <div id="showNumber" class="bg-dark text-center btn btn-lg px-4 me-sm-3" style="font-size: 3rem; color: #4DCC35; font-family: 'Prompt', sans-serif; border-radius: 20px; margin-left: 75%;">00:20</div>
    </div>
    <!-- End Countdown -->

    <!-- Start  Hero-->
    <div class="px-1 pt-2 text-center mt-2" style="margin-left: 5%; margin-right: 5%;">
        <!-- Start example-->
        <div class="overflow-hidden row row-cols-1 row-cols-lg-2 align-items-stretch g-4">
            <div class="mx-auto d-block" style="margin-right: 4%;">
                <h5 id="name" class="display-6 fw-bold mb-4" style="font-family: 'Prompt', sans-serif;">โยคะท่าภูเขา</h5>
                <img id="ex_img" src="static/1.png" alt="ท่าโยคะ" style="width: 100%; border-radius: 10px; border: 5px solid #000000; background-color: lightblue;" loading="lazy">
            </div>
            <!--End example  -->

            <!-- Start User -->
            <div class="mx-auto d-block">
                <h5 id="name2" class="display-6 fw-bold mb-4" style="font-family: 'Prompt', sans-serif;">โยคะท่าภูเขา</h5>
                <img id="bg" src="{{ url_for('video_feed')}}" alt="AI YOGA" style="width: 100%; border-radius: 10px;" loading="lazy">
            </div>
            <!-- End -->
        </div> 
    </div>
    <!-- End Hero -->

    <!-- Start pause & stop -->
    <div class="container">
        <footer class="d-flex py-3 my-4 border-top mx-auto">
          <div class="mx-auto">
            <button id="pause" type="button" class="btn btn-primary btn-lg" style="font-family: 'Kanit', sans-serif;" onclick="pause_play()">pause</button>
          </div>
          <div class="mx-auto">
            <button type="button" class="btn bg-warning btn-lg" style="font-family: 'Kanit', sans-serif;" onclick="skip()">skip</button>
          </div>
          <div class="mx-auto">
            <button type="button" class="btn btn-danger btn-lg" style="font-family: 'Kanit', sans-serif;" onclick="stop()">stop</button>
          </div>
        </footer>
      </div>
    <!-- End pause & stop -->
    </div>

    <!-- Start 3 2 1 -->
    <div id="cd" class="text-center mx-auto" style="font-size: 30em; color: red; display: none; font-family: 'Prompt', sans-serif;">3</div>
    <!-- End 3 2 1 -->
</body>
</html>

<script>
    let timer = 20;
    let showElement = document.getElementById('showNumber');
    let name = document.getElementById('name');
    let name2 = document.getElementById('name2');
    let ex_img = document.getElementById('ex_img');
    let pause = document.getElementById('pause');
    let url =  'http://127.0.0.1:5555/get_status';
    let file_number = 1;
    let namearray = ['','โยคะท่าภูเขา','โยคะท่าตัวที','โยคะท่าลันจ์','โยคะท่าต้นไม้','โยคะท่านักรบ']
    let ispause = false

    // Get API from SUCCESS
    function status(){
        fetch(url).then(function(response) {
        return response.json();
    }).then(function(data) {
        console.log(data.status);
        if (data.status == file_number){
            countdown();
        }
    }).catch(function(err) {
        console.log('Fetch Error :-S', err);
    });
    }
    setInterval(()=>status(),1000);

    function countdown(){
        if (!ispause){
            timer--;
            showElement.innerHTML = '00:' + ('0'+ timer).slice(-2)
            if (timer == 0){
            file_number++;
            change_pose();
        }
        }
    }

    function change_pose(){
        if (file_number <= 5){
            timer = 20;
            showElement.innerHTML = '00:' + ('0'+ timer).slice(-2)
            let filename = file_number + '.png';
            ex_img.src = '/static/' + filename;
            name.innerHTML = namearray[file_number]
            name2.innerHTML = namearray[file_number]
        }
        else{
            start();
        }
    }

    let timer2 = 3;
    let showElement2 = document.getElementById('cd');

    function start(){
        document.getElementById('main').setAttribute('style','display:none')
        showElement2.style.display = 'block';
        setInterval( () => { 
        if(timer2 == 1){
            
            window.location = 'https://aiyoga-fablabckk.netlify.app'
            return;
        }
        timer2--;
        showElement2.innerHTML = timer2.toString();
     }, 1000)
    }

    function skip(){
        file_number++;
        change_pose();

    }

    function pause_play(){
        ispause = !ispause
        if (!ispause){
            pause.innerHTML = 'pause'
        }
        if (ispause){
            pause.innerHTML = 'play'
        }
    }

    function stop(){
        window.location = 'https://aiyoga-fablabckk.netlify.app'
    }
</script>